@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
main{
    margin: 14px
}
.tag__custom {
    height: auto !important;
    white-space: unset !important;
    color: purple !important;
    width: 100%
  }
  